* text=auto
*.css linguist-vendored
*.less linguist-vendored
*.js linguist-vendored
tests/Browser export-ignore
tests/Feature export-ignore
tests/Unit export-ignore
tests/DBTestCase.php export-ignore
tests/AddOnTestCase.php export-ignore
phpunit.xml export-ignore
JenkinsFile export-ignore
vendor/bin/ export-ignore
app/Plugins/ServiceDesk export-ignore
app/Plugins/LanguageMigrate export-ignore
storage/activate-plugin.txt export-ignore
app/Plugins/AllianceCRM export-ignore
app/Plugins/CRTWorkflow export-ignore
app/Plugins/Reseller export-ignore
app/Plugins/Migration export-ignore
app/Plugins/Envato export-ignore
app/BankaiImport export-ignore
app/Plugins/EleaAssistant export-ignore
app/Plugins/RemoteDesktop export-ignore
app/Plugins/AdHocApproval export-ignore
app/Plugins/AttachmentScanner export-ignore
app/Plugins/AzureActiveDirectory export-ignore
app/Plugins/Calendar export-ignore
app/Plugins/Chat export-ignore
app/Plugins/CustomCSS export-ignore
app/Plugins/CustomJs export-ignore
app/Plugins/CustomLanguage export-ignore
app/Plugins/DepartmentStatusLink export-ignore
app/Plugins/Facebook export-ignore
app/Plugins/FaveoRedaction export-ignore
app/Plugins/Instagram export-ignore
app/Plugins/Ldap export-ignore
app/Plugins/LimeSurvey export-ignore
app/Plugins/Line export-ignore
app/Plugins/Slack export-ignore
app/Plugins/SmartBonding export-ignore
app/Plugins/SMS export-ignore
app/Plugins/Telephony export-ignore
app/Plugins/TicketArchive export-ignore
app/Plugins/DataArchive export-ignore
app/Plugins/Twitter export-ignore
app/Plugins/Whatsapp export-ignore
app/Plugins/Zendesk export-ignore
